<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
<meta http-equiv="content-type" content="text/html;charset=utf-8"/>
<meta content="always" name="referrer"/>
<meta name="renderer" content="webkit"/>
<meta name="author" content=""/>
<meta name="copyright" content=""/>
<meta name='keywords' content=""/>
<meta name='apple-itunes-app' content='app-id=1266245579'>
<meta name=viewport content="width=device-width,initial-scale=1,user-scalable=0">
<meta name=apple-mobile-web-app-capable content=yes>
<script type="text/javascript">
    var ctxPath = '${ctxPath}';
    var org_id = '${org_id}';
    var memberInfo = null;
    var token = '${member_token}';
    var serverName = '${serverName}';
    <#if memberInfo??>
        memberInfo = ${memberInfo};
    </#if>
</script>

<link href="${ctxPath}/static/mobile/font/iconfont.css" rel="stylesheet">
<link href="${ctxPath}/static/mobile/plugin/layer/mobile/need/layer.css" rel="stylesheet">
<link href="${ctxPath}/static/mobile/plugin/swiper/swiper-3.4.2.min.css" rel="stylesheet">
<link href="${ctxPath}/static/mobile/plugin/animate/animate.min.css" rel="stylesheet">
<link href="${ctxPath}/static/mobile/css/basic.css" rel="stylesheet">
<script type="text/javascript" src="${ctxPath}/static/mobile/plugin/jquery/jquery.min.js"></script>
<script type="text/javascript" src="${ctxPath}/static/mobile/plugin/layer/layer.js"></script>
<script type="text/javascript" src="${ctxPath}/static/mobile/plugin/prettyfile/jquery.form.js"></script>
<script type="text/javascript" src="${ctxPath}/static/mobile/plugin/prettyfile/bootstrap-prettyfile.js"></script>
<script type="text/javascript" src="${ctxPath}/static/mobile/plugin/swiper/swiper-3.4.2.jquery.min.js"></script>
<script type="text/javascript" src="${ctxPath}/static/mobile/js/public.js"></script>
