#periodicalRepo .cl li:hover {
    background: none
}

#periodicalRepo .cl li {
    padding: 0;
}
#periodicalRepo #col_comTree {
    float: left;
    width: 220px;
    margin: -10px -15px -15px -15px;
    padding: 15px;
    height: calc(100% + 20px);
    height: -moz-calc(100% + 20px);
    height: -webkit-calc(100% + 20px);
    overflow-x: hidden;
    overflow-y: auto;
}

#periodicalRepo .note-editable {
    border-left: 1px solid whitesmoke;
    border-right: 1px solid whitesmoke
}

#periodicalRepo .form_html .box label {
    color: #333;
    padding-right: 20px;
}

#periodicalRepo #temp {
    width: 100%;
}

#periodicalRepo #temp:not(:first-child) {
    margin-left: 16.6666666%;
}

#periodicalRepo #temp .input_group {
    width: 100%;
    border: 1px solid #DDD;
    border-top: none;
}

#periodicalRepo #temp .box {
    padding: 0 5px;
}

#periodicalRepo #temp .box:hover {
    background: #DDD;
    cursor: pointer;
}

#periodicalRepo .image_text {
    width: 100%;
    height:100%;
    float: left;
    position: relative;
}

#periodicalRepo .image_text .leftImg {
    float: left;
    height: 100%;
    width: 250px;
    cursor: pointer;
    background-color: #dcdcdc;
}

#periodicalRepo .image_text .leftImg .center {
    height: 100%;
    padding: 60px 95px;
}

#periodicalRepo .image_text .leftImg i {
    font-size: 60px;
    color: #fff;
}

#periodicalRepo .image_text .leftImg img {
    width: 100%;
    height: 100%;
}

#periodicalRepo .image_text textarea {
    width: calc(100% - 250px);
    border-left: none;
    border-radius: 0px;
    height: 100%;
}

#periodicalRepo .image_text .image_text_row .hih {
    height: 100%;
    padding: 0;
}

#periodicalRepo .image_text .image_text_row {
    width: 100%;
    float: left;
    height: 160px;
    margin-bottom: 20px;
}

#periodicalRepo .image_text .right label {
    cursor: pointer;
    display: block;
    margin: 10px 0;
}

#periodicalRepo .leftImg div {
    height: 100%;
}

#periodicalRepo .leftImg span {
    display: none !important;
}
#periodicalRepo  td .box label,#periodicalRepo  td .box i{
    width:100%;
}

#periodicalRepo .icon-x{
    font-size: 20px;
}
#periodicalRepo .icon-shangjiantou , .icon-shangjiantou-copy{
    color: #3B8CFF;
    font-size: 20px;
}

#periodicalRepo .form-left {
    float: left;
    width: 30%;
    padding-left: 15px;
    padding-right: 30px;
}
#periodicalRepo .form-right {
    float: left;
    width: 70%;
}
#periodicalRepo #img_cc {
    width: 100%;
    height: 290px;
    overflow: hidden;
    position: relative;
    border: 1px #ddd solid;
    background-size: 100% 100%;
    cursor: pointer;
}
#periodicalRepo .table_control td > span{
    padding: 10px 0;
}
#periodicalRepo .tree-node {
    height: 24px;
    white-space: nowrap;
    overflow: hidden;
    cursor: pointer;
}
.form-left-bottom{
    width: 220px;
}

#periodicalRepo .pdf_up{
    float: left;
    width: 100px;
}
#periodicalRepo .pdf_up .file-action .btn:nth-child(2){
    border-left:none !important;
}

#periodicalRepo .tree li.unNode *{
    color: #ff0000!important;
}

