<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>${org_map.org_name} - 活动详情</title>
    <#include "../include/web_top.html" />
    <link href="${ctxPath}/static/web/css/newsinfo.css" rel="stylesheet"/>
</head>
<body>
<#include "../include/web_header.html" />

<div class="header_menu">
    <div class="main">
        <a href="${ctxPath}/web">首页</a>
        <a href="${ctxPath}/web/booklist">图书</a>
        <a href="${ctxPath}/web/paper">报纸</a>
        <a href="${ctxPath}/web/per">期刊</a>
        <a href="${ctxPath}/web/inf">推荐</a>
        <a href="${ctxPath}/web/order">排行</a>
        <a href="${ctxPath}/web/subject">专题</a>
        <div id="headerTime"></div>
    </div>
</div>
<div class="newsInfoContent">
    <div class="main">
        <div class="nav_bar">
            <a href="${ctxPath}/web" target="_blank">首页</a>
            <em>&gt;</em>
            <a href="${ctxPath}/web/act" target="_blank">活动</a>
            <em>&gt;</em>
            <label id="cat_name">${newsinfo.activity_title}</label>
        </div>
        <div class="newsContentHtml">
            <h1 class="n_title">${newsinfo.activity_title}</h1>
            <h2 class="n_time">${newsinfo.start_time?string('yyyy/MM/dd')} - ${newsinfo.end_time?string('yyyy/MM/dd')}</h2>
            <div class="html_text">
                ${newsinfo.activity_content}
            </div>
        </div>
    </div>
</div>

<!--公共底-->
<#include "../firstModel/web_footer.html" />
</body>
</html>