<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>${org_map.org_name} - 个人中心 - 我的书评</title>
    <#include "../include/web_top.html" />
    <link href="${ctxPath}/static/web/css/bookreview.css" rel="stylesheet"/>
    <script type="text/javascript" src="${ctxPath}/static/web/js/jquery.timeago.js"></script>
    <script type="text/javascript">
        if (!_token || _token == "") {
            window.location.href = "${ctxPath}/web?key=login";
        }
    </script>
</head>
<body>
<#include "../include/web_header.html" />

<div class="header_menu">
    <div class="main">
        <a href="${ctxPath}/web">首页</a>
        <a href="${ctxPath}/web/booklist">图书</a>
        <a href="${ctxPath}/web/paper">报纸</a>
        <a href="${ctxPath}/web/per">期刊</a>
        <a href="${ctxPath}/web/inf">推荐</a>
        <a href="${ctxPath}/web/order">排行</a>
        <a href="${ctxPath}/web/subject">专题</a>
        <div id="headerTime"></div>
    </div>
</div>

<#if member??>
<div class="center_content">
    <div class="main">

        <div class="center_top">
            <div class="u_head">
                <#if member.icon?? && member.icon != "">
                    <div class="u_img"><img src="${ctxPath}${member.icon}" /></div>
                    <#else>
                        <div class="u_img"><img src="${ctxPath}/static/web/img/lv/df.jpg" /></div>
                </#if>
                <div class="u_name">${member.nick_name}</div>
            </div>
            <div class="u_menu">
                <div class="m_link">
                    <a href="${ctxPath}/web/bookrack" class="b1">我的书架</a>
                </div>
                <div class="m_link">
                    <a href="${ctxPath}/web/bookreview" class="b2">我的书评</a>
                </div>
                <div class="m_link">
                    <a href="${ctxPath}/web/center" class="b3">账号设置</a>
                </div>
            </div>
        </div>

        <div class="center_list">
            <div class="send_list">
                <h1 class="send_total">共0条</h1>
                <div id="send_conn">
                    <p class="cmm">加载中...</p>
                </div>
            </div>
            <div class="send_bottom" style="display: none">
                <a href="javascript:void(0)">查看更多</a>
            </div>
            <div class="send_bottom_end" style="display: none">
                -  没有更多内容了  -
            </div>
        </div>

    </div>
</div>

<script type="text/javascript" src="${ctxPath}/static/web/js/bookreview.js"></script>
</#if>
<!--公共底-->
<#include "../firstModel/web_footer.html" />
</body>
</html>