<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>产品介绍</title>
    <#include "../include/web_top.html" />
    <link href="${ctxPath}/static/web/css/introduction.css" rel="stylesheet"/>
</head>
<body>
<#include "../include/web_header.html" />

<div class="header_menu">
    <div class="main">
        <a href="${ctxPath}/web">首页</a>
        <a href="${ctxPath}/web/booklist">图书</a>
        <a href="${ctxPath}/web/paper">报纸</a>
        <a href="${ctxPath}/web/per">期刊</a>
        <a href="${ctxPath}/web/inf">推荐</a>
        <a href="${ctxPath}/web/order">排行</a>
        <a href="${ctxPath}/web/subject">专题</a>
        <div id="headerTime"></div>
    </div>
</div>

<div class="introduction_con">
    <div class="main">
        <div class="introduction_html">
            <div class="cp_1">
                <img src="${ctxPath}/static/web/img/cpjs/cpjs_1.jpg">
                <p class="p1">互联网 + 阅读</p>
                <p class="p2">数字阅读终端产品介绍</p>
                <p class="p3">让更多人享受阅读！</p>
            </div>
            <div class="step_title">产品介绍<i style="width: 100px;margin-left: -50px"></i></div>
            <div class="step_title_btm">
                <p>ABOUT PRODUCT PRESENTATION</p>
                <h3>长江传媒联合阿里巴巴联合开发   为全民阅读提供有力支撑</h3>
            </div>
            <div class="cp_2">
                <div class="c_item">
                    <img src="${ctxPath}/static/web/img/cpjs/cpjs_3.jpg">
                    <p>超6000万单击寿命</p>
                    <p>英特尔四核处理器</p>
                    <p>高矮可调节</p>
                </div>
                <div class="c_item">
                    <img src="${ctxPath}/static/web/img/cpjs/cpjs_4.jpg">
                    <p>红外触摸屏</p>
                    <p>英特尔四核处理器</p>
                    <p>多屏幕尺寸可选</p>
                </div>
                <div class="c_item">
                    <img src="${ctxPath}/static/web/img/cpjs/cpjs_5.jpg">
                    <p>LPDDR3低功耗内存技术</p>
                    <p>四核心处理器</p>
                    <p>8英寸舒适阅读屏幕</p>
                </div>
            </div>
            <div class="cp_3">
                <div class="cp3_left" style="margin-bottom: 10px">
                    <p>内置万册正版图书</p>
                    <p>10万册在线图书</p>
                    <p>主流期刊杂志</p>
                    <p>听书视频</p>
                    <p>原创文学</p>
                </div>
                <div class="cp3_right" style="margin-bottom: 10px">
                    <p>个性化定制</p>
                    <p>政企冠名</p>
                    <p>信息发布</p>
                    <p>移动阅读</p>
                </div>

                <div class="cp3_left" style="margin-bottom: 10px">
                    <p>实时更新</p>
                    <p>长江中文网</p>
                    <p>超十万册图书</p>
                    <p>国内知名出版社</p>
                    <p>长江传媒数字资源库</p>
                </div>
                <div class="cp3_right" style="margin-bottom: 10px">
                    <p>资源集中</p>
                    <p>统一管理</p>
                    <p>阿里云OS支持</p>
                    <p>阅读行为大数据分析</p>
                    <p>阅读资源个性化推送</p>
                </div>
                <div class="cmbg"></div>
            </div>
            <div class="step_title">应用场景<i style="width: 60px;margin-left: -30px"></i></div>
            <div class="step_title_btm">
                <p>APPLICATION  SCENARIOS</p>
                <h3>多样式数字阅读终端  满足不同场景的使用需要</h3>
            </div>
            <div class="cp_4">
                <div class="ml_left">
                    <h1>公共图书馆</h1>
                    <img src="${ctxPath}/static/web/img/cpjs/cpjs_10.jpg">
                    <img src="${ctxPath}/static/web/img/cpjs/cpjs_9.jpg">
                </div>
                <div class="ml_right">
                    <img src="${ctxPath}/static/web/img/cpjs/cpjs_8.jpg">
                    <img src="${ctxPath}/static/web/img/cpjs/cpjs_7.jpg" style="margin: 0">
                    <h1>机关图书室综合服务大厅</h1>
                </div>
                <div class="ml_all"><img src="${ctxPath}/static/web/img/cpjs/cpjs_11.jpg"></div>
            </div>
            <div class="step_title">图书室建设一体化案例<i style="width: 160px;margin-left: -80px"></i></div>
            <div class="step_title_btm">
                <p>INTEGRATION OF THE LIBRAY CONSTRUCTION</p>
            </div>
            <div class="cp_4">
                <div class="ml_left">
                    <img src="${ctxPath}/static/web/img/cpjs/cpjs_12.jpg">
                    <div class="mm_cc_text">
                        <h3>武汉市九丘书馆</h3>
                        全省首个“数字阅读体验馆”，除配备有全民阅读机、阅读平板之外，还有VR魔镜、人脸识别及数据运用设备。读者可以享受包括数字阅读、线上购书、在线借阅及点餐等多样化的服务，还可亲身体验前沿的VR技术。
                    </div>
                </div>
                <div class="ml_right">
                    <div class="mm_cc_text" style="margin-bottom: 20px">
                        <h3>农家书屋—襄阳大坪村党员群众服务中心</h3>
                        在办事大厅内安装的长江云全民阅读机，内置数字农家书屋平台，并定制了农业科技方面特色数字资源服务，为当地农村居民提供了丰富的数字阅读服务。
                    </div>
                    <img src="${ctxPath}/static/web/img/cpjs/cpjs_13.jpg">
                </div>
            </div>
            <div class="step_title">了解更多<i style="width: 80px;margin-left: -40px"></i></div>
            <div class="step_title_btm">
                <p>READ  MORE</p>
            </div>
            <div class="cp_5">
                <i class="p1"></i>
                <i class="p2"></i>
                <div class="cp5_con">
                    <img src="${ctxPath}/static/web/img/cpjs/cpjs_14.jpg">
                    <ul>
                        <li><label>Tel：</label>027-87679599</li>
                        <li><label>QQ：</label>2597436533</li>
                        <li><label>邮箱：</label>cjyunrd@163.com</li>
                        <li><label>黄经理：</label>18627809188</li>
                        <li><label>毕经理：</label>18502707990</li>
                        <li><label>陈经理：</label>15871437828</li>
                        <li><label>李经理：</label>18627065619</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<!--公共底-->
<#include "../firstModel/web_footer.html" />
</body>
</html>