<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>公司简介</title>
    <#include "../include/web_top.html" />
    <link href="${ctxPath}/static/web/css/productservice.css" rel="stylesheet"/>
</head>
<body>
<#include "../include/web_header.html" />

<div class="header_menu">
    <div class="main">
        <a href="${ctxPath}/web">首页</a>
        <a href="${ctxPath}/web/booklist">图书</a>
        <a href="${ctxPath}/web/paper">报纸</a>
        <a href="${ctxPath}/web/per">期刊</a>
        <a href="${ctxPath}/web/inf">推荐</a>
        <a href="${ctxPath}/web/order">排行</a>
        <a href="${ctxPath}/web/subject">专题</a>
    </div>
</div>

<div class="introduction_con">
    <div class="main">
        <div class="introduction_html">
            <div class="cp_1">
                <img src="${ctxPath}/static/web/img/cpjs/cpjs_1.jpg">
                <p class="p1">关于我们</p>
                <p class="p2">数字农家书屋云平台</p>
                <p class="p3">由湖北长江传媒数字出版有限公司（长江数字）出品</p>
                <p class="p4">致力于为湖北省基层农家书屋提供数字阅读服务</p>
            </div>
            <div class="step_title">企业简介<i style="width: 100px;margin-left: -50px"></i></div>
            <div class="step_title_btm">
                <p>LEARN MORE ABOUT NONGJIASHUWU</p>
            </div>
            <div class="cp_2">
                <span class="cp_2_item active" tar="cp_content_1">公司简介</span>
                <span class="cp_2_item" tar="cp_content_2">公司业务</span>
                <span class="cp_2_item" tar="cp_content_3">公司产品与平台</span>
            </div>
            <div class="cp_content_1">
                <img src="${ctxPath}/static/web/img/cpjs/cjcmlogo.jpg">
                <p>湖北长江传媒数字出版有限公司成立于2009年，是长江出版传媒股份有限公司的全资子公司，是国内最早由出版机构成立的专业数字出版公司之一。公司秉持诚信、务实、创新、协作的理念，定位于成为专业的数字内容服务提供商，建立数字内容服务产业生态链，为用户提供多元、多层次服务。</p>
                <p>公司运营以来,先后取得了多种资质和认证，包括：互联网出版许可证、网络文化经营许可证、湖北省高新技术企业证书、增值电信业务经营许可证、出版物经营许可证、秘密载体印刷资质等。</p>
                <p>目前，公司在五个方面全力推进：一是为长江传媒各子（分）公司提供数字化转型服务，充当传统媒体与新兴媒体融合发展的探路者，服务涵盖数字内容加工、信息化建设、数字出版技术支持等；二是依托长江传媒丰富的出版资源，开展数字版权运营、数字阅读推送、移动应用开发等业务；三是开创了自身的内容生产体系，通过长江中文网集聚网络文学作品，通过专业运营团队策划与实施全版权运营。四是全面参与全民阅读活动，推出阅读机、阅读平板、“互联网+阅读+政务+生活”公众服务平台并市场化。五是承接国家级和省级数字出版项目的建设，如中国出版云平台、国家数字复合出版工程、K12在线教育综合服务平台、数字阅读服务云平台、数字阅读与网络原创项目、长江传媒存量精品出版资源数字化工程、数字化全民阅读与服务体系建设工程等。</p>
            </div>
            <div class="cp_content_2" style="display: none">
                <dl>
                    <dt>1.数字化全民阅读服务</dt>
                    <dd>全民阅读是国家战略，湖北省是最先推动全国阅读的省份之一。长江传媒与阿里巴巴在全民阅读方面已签订战略合作协议，利用云计算机和大数据推进全民阅读体系建设。</dd>
                </dl>
                <dl>
                    <dt>2.数字加工</dt>
                    <dd>公司建设的数字加工平台、资源管理平台与数字项目管理平台在业内处于领先地位，加工成果在多种大型专业数据库和国内主流运营渠道得到应用。</dd>
                </dl>
                <dl>
                    <dt>3.网络出版</dt>
                    <dd>通过长江中文网聚集网络文学原创作品，一方面自主运营，一方面进行数字、有声、出版、影视剧本（含网络影视剧）、动漫漫画、舞台剧本、游戏剧本、海外版权输出、作家周边（如艺术品、作品形象衍生物）等IP与产品全维度的立体开发。</dd>
                </dl>
                <dl>
                    <dt>4.技术研发</dt>
                    <dd>公司拥有专业的技术子公司——湖北长江传媒数字科技有限公司，承接大型信息系统和融媒体平台的研发。</dd>
                    <dd>（1）	企业职工数字阅读平台建设;</dd>
                    <dd>（2）	多终端阅读应用定制;</dd>
                    <dd>（3）	多终端在线教育平台开发;</dd>
                    <dd>（4）	企业档案管理系统建设；</dd>
                    <dd>（5）	数字化加工</dd>
                    <dd>（6）	出版机构ERP建设</dd>

                </dl>
                <dl>
                    <dt>5.版权运营</dt>
                    <dd>版权运营是公司的传统业务，在通行的运营模式的基础上，公司在有声、影视、电子书各种形态产品的运营上寻求突破。</dd>
                </dl>
                <dl>
                    <dt>6.信息化服务</dt>
                    <dd>目前，我公司已经承担出版管理系统（ERP）、集团（股份）公司和部分子公司OA系统、物资公司进销存管理系统、二维码服务平台、数字内容资源库等系统的开发与维护管理工作，还承担了出版文化城大楼网络及设备维护工作。</dd>
                </dl>
            </div>
            <div class="cp_content_3" style="display: none">
                <dl>
                    <dt>1.数字内容资源库</dt>
                    <dd>两库：内容库和版权库；</dd>
                    <dd>五平台：内容采集平台、资源管理平台、内网发布平台、外网发布平台（长江阅读网及移动客户端）、数字版权运营管理平台。</dd>
                </dl>
                <dl>
                    <dt>2.数字化全民阅读服务平台</dt>
                    <dd>“长江云数字化全民阅读服务平台”是面向各类型机构和个体用户的数字化全民阅读平台，它集移动数字阅读、政企文化阅读服务定制、生活服务导航等多功能与一体，并可通过扫描二维码将图书同步到手机上，实现移动阅读。</dd>
                </dl>
                <dl>
                    <dt>3.长江中文网</dt>
                    <dd>网站定位于“网络文字+主流出版文学”的精品阅读，吸引了大量作者，聚集大量优秀网络文学作品。网站现签约作品已达11万部，用户600余万。其中，主神级作家3位，大神级作家10余位，重点作家200余位，普通中坚层和新人层作家2000余位。</dd>
                </dl>
                <dl>
                    <dt>4.“书香+”微阅读服务平台</dt>
                    <dd>本平台是一套由微信公众订阅账号、微阅读网站两个部分组成的服务平台，可以全面解决用户随时随地，利用“碎片化”时间阅读书籍，获取全民阅读资讯，参与全民阅读活动的多种需求。</dd>
                </dl>
                <dl>
                    <dt>5.书香荆楚阅读网</dt>
                    <dd>书香荆楚阅读网是湖北省全民阅读活动的宣传窗口，是优质内容的数字化展示平台，是广大读者的网络交流园地。网站以“书香荆楚、文化湖北”为主题，有力推进湖北省全民阅读活动，建设学习型湖北。</dd>
                </dl>
                <dl>
                    <dt>6.政企书屋</dt>
                    <dd>依托长江传媒庞大的图书资源，基于移动互联网技术，通过个性化定制手机客户端和“书香+“微阅读公众服务平台的形式，为广大政府机关、企事业单位的职工及政务窗口办事的公众提供手机（PAD）图书阅读、企业内部信息发布服务。</dd>
                </dl>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(".cp_2_item").mouseover(function () {
        $(".cp_2_item").removeClass("active");
        this.className = "cp_2_item active";
        var tar = $(this).attr("tar");
        $(".cp_content_1,.cp_content_2,.cp_content_3").hide();
        $('.'+tar).show();
    })
</script>
<!--公共底-->
<#include "../firstModel/web_footer.html" />
</body>
</html>