<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>技术支持</title>
    <#include "../include/web_top.html" />
    <link href="${ctxPath}/static/web/css/tosoft.css" rel="stylesheet"/>
</head>
<body>
<#include "../include/web_header.html" />

<div class="header_menu">
    <div class="main">
        <a href="${ctxPath}/web">首页</a>
        <a href="${ctxPath}/web/booklist">图书</a>
        <a href="${ctxPath}/web/paper">报纸</a>
        <a href="${ctxPath}/web/per">期刊</a>
        <a href="${ctxPath}/web/inf">推荐</a>
        <a href="${ctxPath}/web/order">排行</a>
        <a href="${ctxPath}/web/subject">专题</a>
        <div id="headerTime"></div>
    </div>
</div>

<div class="introduction_con">
    <div class="main">
        <div class="introduction_html">
            <div class="cp_1">
                <img src="${ctxPath}/static/web/img/cpjs/cpjs_1.jpg">
                <p class="p1">技术支持</p>
                <p class="p2">technical support</p>
            </div>
            <div class="step_title">技术支持<i style="width: 100px;margin-left: -50px"></i></div>
            <div class="step_title_btm">
                <p>TECHNICAL SUPPORT</p>
            </div>
            <div class="cp_2">
                <p>长江数字将为您提供完善的售后技术支持服务，在使用本平台的过程中，如有任何问题，请联系我们：</p>
                <p style="margin-top: 30px">客服微信：cjyunyd</p>
                <p>客服邮箱：cjyunrd@163.com</p>
                <p>客服QQ：2597436533（长江云阅读）</p>
                <p style="margin-top: 30px">二维码</p>
                <img src="${ctxPath}/static/web/img/cpjs/guanfangerweim.jpg" style="display: block;margin: 30px auto">
            </div>
        </div>
    </div>
</div>

<!--公共底-->
<#include "../firstModel/web_footer.html" />
</body>
</html>