<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>喔唷，出错啦!</title>
</head>
<body>
<div class="err_content">
    <div class="ml">
        <div class="mimg"><img src="http://cjszyun.cn/static/web/img/page_err.png" /></div>
        <h1 style="margin-top: 15px">喔唷，出错啦！【Page 404】</h1>
        <p style="color: #949494;margin-top: 20px;line-height: 24px">
            服务器测试连接您的页面时出现了问题，因为您访问的地址是错误的。
        </p>
    </div>
</div>
<style>
    html,body{
        margin: 0;
        padding: 0;
        background: #f4f4f4;
        font-size: 12px;
    }
    .err_content .ml{
        width: 500px;
        position: absolute;
        top:50%;
        margin-top: -150px;
        left: 50%;
        margin-left: -250px;
    }
    .err_content .back_link{
        float: right;
        line-height: 24px;
        padding: 0px 15px;
        color: #fff;
        background: #01AAED;
        text-decoration: none;
    }
</style>
</body>
</html>