<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>${org_map.org_name} - 资讯列表</title>
    <#include "../include/web_top.html" />
    <link href="${ctxPath}/static/web/css/inf.css" rel="stylesheet"/>
    <link href="${ctxPath}/static/web/plugin/pagination/pagination.css" rel="stylesheet"/>
    <script type="text/javascript" src="${ctxPath}/static/web/plugin/pagination/jquery.pagination.js"></script>
    <script type="text/javascript">
        var all_pages = "${articleList.pages}";
        var cat_id = "${cat_id}";
    </script>
</head>
<body>
<#include "../include/web_header.html" />

<div class="header_menu">
    <div class="main">
        <a href="${ctxPath}/web">首页</a>
        <a href="${ctxPath}/web/booklist">图书</a>
        <a href="${ctxPath}/web/paper">报纸</a>
        <a href="${ctxPath}/web/per">期刊</a>
        <a href="${ctxPath}/web/inf" class="active">资讯</a>
        <a href="${ctxPath}/web/order">排行</a>
        <a href="${ctxPath}/web/subject">专题</a>
        <div id="headerTime"></div>
    </div>
</div>

<div class="inf_list_content">
    <div class="main">
        <div class="content_left content_left_cat">
            <h1>全部资讯分类</h1>
            <ul class="left_menu">
                <#if articleCatList ?? &&articleCatList?size!=0>
                    <#list articleCatList as cl_item>
                        <li <#if cl_item.article_cat_id?string = cat_id>class="active"</#if> >
                            <a  onclick="infList(${cl_item.article_cat_id}, 1)" <#if cl_item.article_cat_id?string = cat_id>class="active_cc"</#if>>${cl_item.article_cat_name}</a>
                            <#if cl_item["children"]?? && cl_item["children"]?size != 0>
                                <i class="cat-right" onclick="infList(${cl_item.article_cat_id}, 1)"></i>
                                <div class="cat-child-list" style="display: none;">
                                    <#list cl_item["children"] as catChild>
                                        <a onclick="infList(${catChild.article_cat_id}, 2)" style="padding:0 24px;" <#if catChild.article_cat_id?string = cat_id>class="active_ccc"</#if>>${catChild.article_cat_name}</a>
                                    </#list>
                                </div>
                            </#if>
                        </li>
                    </#list>
                </#if>
            </ul>
            <div class="left_links">
                <#if advModuleList ?? && advModuleList?size !=0>
                    <#list advModuleList as adv>
                        <#if adv_index lt 6>
                            <#if adv.adv_url ??>
                                <a href="${ctxPath}${adv.adv_url}" class="r_item" target="_blank">
                                    <div class="cover"><img src="${ctxPath}${adv.adv_img}"></div>
                                </a>
                            </#if>
                        </#if>
                    </#list>
                </#if>
            </div>
        </div>
        <div class="content_right">
            <div class="nav_bar">
                <div id="infCats" style="width: 50%">
                    <a href="${ctxPath}/web" target="_blank">首页</a>
                    <em>&gt;</em>
                    <label>资讯</label>
                </div>

            </div>
            <!--<#if cat_id = "">-->
                <!--<div class="nav_bar">-->
                    <!--<a href="${ctxPath}/web">首页</a>-->
                    <!--<em>&gt;</em>-->
                    <!--<label>资讯</label>-->
                <!--</div>-->
                <!--<#else>-->
                    <!--<div class="nav_bar">-->
                        <!--<a href="${ctxPath}/web" target="_blank">首页</a>-->
                        <!--<em>&gt;</em>-->
                        <!--<a href="${ctxPath}/web/inf" target="_blank">资讯</a>-->
                        <!--<em>&gt;</em>-->
                        <!--<#if cat_name?? && cat_name_id??>-->
                            <!--<a href="${ctxPath}/web/inf/${cat_name_id}" target="_blank" >${cat_name}</a>-->
                            <!--<em>&gt;</em>-->
                        <!--</#if>-->
                        <!--<label>${c_cat_name}</label>-->
                    <!--</div>-->
            <!--</#if>-->
            <div class="inf_list">
                <#if articleList ?? && articleList.rows?size != 0>
                    <#list articleList.rows as list>
                        <#if list.article_type != 2>
                            <a href="${ctxPath}/web/inf/${list.article_cat_id}/${list.article_id}" target="_blank" class="inf_item" style="float: left;display:inline-block;position: relative;">
                                <div style="position: absolute;height: 100%">
                                    <img src="${ctxPath}${list.cover_url_small}">
                                </div>
                                <div style="float:left;width:100%;padding-left:270px;" >
                                    <div style="padding:0 20px;">
                                        <span>${list.article_title}</span>
                                        <p>${list.article_remark}</p>
                                        <label>${list.publish_time?string('yyyy-MM-dd')}</label>
                                    </div>
                                </div>
                            </a>
                        <#else>
                            <a href="${list.article_content}" target="_blank" class="inf_item" style="float: left;display:inline-block;position: relative;">
                                <div style="position: absolute;height: 100%">
                                    <img src="${ctxPath}${list.cover_url_small}">
                                </div>
                                <div style="float:left;width:100%;padding-left:270px;">
                                    <div style="padding:0 20px;">
                                        <span>${list.article_title}</span>
                                        <p>${list.article_remark}</p>
                                        <label>${list.publish_time?string('yyyy-MM-dd')}</label>
                                    </div>
                                </div>
                            </a>
                        </#if>
                    </#list>
                </#if>
            </div>
            <div class="M-box"></div>
        </div>
    </div>
</div>

<script type="text/javascript" src="${ctxPath}/static/web/js/inf.js"></script>
<!--公共底-->
<#include "../include/web_footer.html" />
</body>
</html>