<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>联系我们</title>
    <#include "../include/web_top.html" />
    <link href="${ctxPath}/static/web/css/linkme.css" rel="stylesheet"/>
</head>
<body>
<#include "../include/web_header.html" />

<div class="header_menu">
    <div class="main">
        <a href="${ctxPath}/web">首页</a>
        <a href="${ctxPath}/web/booklist">图书</a>
        <a href="${ctxPath}/web/paper">报纸</a>
        <a href="${ctxPath}/web/per">期刊</a>
        <a href="${ctxPath}/web/inf">资讯</a>
        <a href="${ctxPath}/web/order">排行</a>
        <a href="${ctxPath}/web/subject">专题</a>
        <div id="headerTime"></div>
    </div>
</div>

<div class="introduction_con">
    <div class="main">
        <div class="introduction_html">
            <div class="cp_1">
                <img src="${ctxPath}/static/web/img/cpjs/cpjs_1.jpg">
                <p class="p1">联系我们</p>
                <p class="p2">contact us</p>
            </div>
            <div class="step_title">联系我们<i style="width: 100px;margin-left: -50px"></i></div>
            <div class="step_title_btm">
                <p>CONTACT US</p>
            </div>
            <div class="cp_2">
                <p>本平台由湖北长江传媒数字出版有限公司与湖北省新华书店（集团）有限公司联合进行商务推广，如有合作需求，请咨询当地新华书店，我们的区域销售经理也将随时为您服务。</p>
            </div>
            <div style="float: left;width: 100%;margin-top: 30px;padding: 0 50px">
                <div class="cp_3">
                    <div>
                        <label>鄂东南地区</label>          <label>黄小平</label>          <label>18627809188</label>
                    </div>
                    <div>
                        <label>鄂中南地区</label>          <label>毕   磊</label>          <label>18502707990</label>
                    </div>
                    <div>
                        <label>鄂西北地区</label>          <label>陈   诚</label>          <label>18971288849</label>
                    </div>
                    <div>
                        <label>武 汉 地 区</label>          <label>李佩凌</label>          <label>18627065619</label>
                    </div>
                    <i class="mli_1"></i>
                </div>
                <div class="cp_4">
                    公司电话：027-87679599
                    <i class="mli_2"></i>
                </div>
                <div class="cp_5">
                    企业网站：http://www.cjszcb.com
                    <i class="mli_3"></i>
                </div>
                <div class="cp_6">
                    邮政编码：430070
                    <i class="mli_4"></i>
                </div>
                <div class="cp_7">
                    公司全称：湖北长江传媒数字出版有限公司
                    <i class="mli_5"></i>
                </div>
                <div class="cp_8">
                    地址：湖北省武汉市雄楚大街268号湖北出版文化城B座5楼
                    <i class="mli_6"></i>
                </div>
                <div class="cp_9">
                    <img src="${ctxPath}/static/web/img/cpjs/qy-map.png" width="100%">
                </div>
            </div>
        </div>
    </div>
</div>

<!--公共底-->
<#include "../include/web_footer.html" />
</body>
</html>