html, body {
    -webkit-font-smoothing: antialiased;
    background: #fff;
    color: #333;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
html, body, button, input{
    font: 12px/ 20px "Lantinghei SC", "Open Sans", "Microsoft YaHei", Arial, "Hiragino Sans GB", "STHeiti", "WenQuanYi Micro Hei", SimSun, sans-serif;
}
*{box-sizing:border-box;-moz-box-sizing: border-box;-webkit-box-sizing: border-box}
a{color:inherit;text-decoration:none}
a:focus,a:hover{outline:none;text-decoration:none}
h1,h2,h3,h4,h5{margin:0;padding:0;font-weight: normal}
input,button,select,textarea{outline:none}textarea{resize:none}
body ul,body li,body label,body em,body s,body i,body span{list-style:none;margin:0;padding:0;font-style:normal;font-weight:normal}
a,button{-webkit-user-select:none;-ms-user-select:none;-moz-user-select:none;outline: 0;}
img{border: none}

.book_cover{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% auto;
}
#book{
    float: left;
    width: 100vw;
    height: 100vh;
    background: #eaeaea;
    position: relative;
}
#book .book-left{position:absolute;z-index:9;width:30%;height:100%;top:0;left:0;opacity:0;background: #f90}
#book .book-center{position:absolute;z-index:9;width:40%;height:100%;opacity:0;top:0;left:30%;background: #efc}
#book .book-right{position:absolute;z-index:9;width:30%;height:100%;opacity:0;top:0;right:0;background: #f90}

/*菜单部分*/
#leftBookMenu{
    position: absolute;
    top:0;
    left: -100%;
    height: 100%;
    width: 100%;
    transition: all 0.3s;
    z-index: 99;
}
#leftBookMenu.show{
    left: 0;
}
#leftBookMenu .menuContent{
    float: left;
    width: 70%;
    height: 100%;
    overflow: hidden;
    background: #444;
}
#leftBookMenu .menu-title{
    float: left;
    width: 100%;
    line-height: 40px;
    height: 40px;
    color: #fff;
    font-size: 16px;
    text-align: center;
}
#leftBookMenu .menu-list{
    float: left;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    background: #696969;
    color: #c5c5c5;
    height: calc(100% - 40px);
    height: -moz-calc(100% - 40px);
    height: -webkit-calc(100% - 40px);
}
#leftBookMenu .m-item{
    float: left;
    width: 100%;
}
#leftBookMenu .m-item ul{
    float: left;
    width: 100%;
}
#leftBookMenu .m-item ul li{
    float: left;
    width: 100%;
    line-height: 35px;
    height: 35px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    border-bottom: 1px #999 dashed;
    padding: 0 10px;
}
#leftBookMenu .m-item ul li.item-child{
    padding-left: 25px;
}
#leftBookMenu .m-item ul li.active{
    color: #fff;
}

.book-header{
    float: left;
    width: 100%;
    height: 30px;
    padding: 0 15px;
    color: #999;
    line-height: 26px;
}
.book-header .b-left{
    float: left;
    width: 70%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.book-header .b-right{
    float: right;
}
.book-footer{
    float: left;
    width: 100%;
    height: 30px;
    padding: 0 15px;
    color: #999;
    line-height: 26px;
}
.book-footer .b-left{
    float: left;
    width: 70%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.book-footer .b-right{
    float: right;
}
.book-html{
    float: left;
    width: 100%;
    height: calc(100% - 60px);
    height: -moz-calc(100% - 60px);
    height: -webkit-calc(100% - 60px);
    padding: 0 15px;
    color: #676767;
}

#readBookHtml  p{text-indent:2em!important;font-size:16px!important;text-align:justify!important;line-height:1.5;margin:15px 0 0 0}
#readBookHtml  h1,#readBookHtml  h2,#readBookHtml  h3{margin:15px 0}
#readBookHtml  img{max-width:100%!important;max-height:80vh!important}
#readBookHtml  .tp-c{text-indent:0!important;}
#readBookHtml  .I11ustration{text-indent:0!important}
#readBookHtml  .tp-c img{display:block;margin:0 auto}

#loading_MM {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #f0f1f2;
    text-align: center;
    line-height: 100vh;
    z-index: 100;
    color: #999;
    font-size: 16px;
}



.app_down{
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: 9999999999;
    background: #383636;
    padding: 5px 10px;
}
.app_down .sp1{
    background: url("../img/m_ico_logo.png") no-repeat center center / 40px auto;
    float: left;
    width: 50px;
    height: 50px;
}
.app_down .sp2{
    float: left;
    padding-left: 10px;
    color: #fff;
    font-size: 13px;
    line-height: 50px;
}
.app_down .sp2 em{
    font-style: normal;
    color: #009bfa;
}
.app_down .sp3{
    float: right;
    height: 50px;
    width: 95px;
    background: url("../img/m_down.png") no-repeat right center / auto 35px;
}
.app_down .m-close-cc{
    position: absolute;
    right: 0;
    width: 36px;
    height: 36px;
    bottom: 60px;
    background: url("../img/close.png")no-repeat center center / 100% auto;
}