.center_content{
    display: block;
    width: 100%;
    overflow: hidden;
    padding: 30px 0 10px 0;
}
.center_top{
    float: left;
    width: 100%;
    background: #fff;
    position: relative;
    padding: 20px;
    border: 1px #eee solid;
    box-shadow: 0 0 3px #ddd;
    margin-top: 50px;
    height: 140px;
}
.u_head{
    width: 140px;
    height: 140px;
    padding: 15px;
    left: 20px;
    top:-49px;
    position: absolute;
    background: url("../img/center_tt.png") 0 0 no-repeat;
}
.u_head .u_img{
    float: left;
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 50px;
}
.u_head .u_img img{
    float: left;
    width: 100%;
    height: 100%;
}
.u_head .u_name{
    float: left;
    text-align: center;
    width: 100%;
    line-height: 35px;
    color: #949494;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.u_head .u_step{
    float: left;
    text-align: center;
    width: 100%;
}
.u_head .u_step span{
    display: inline-block;
    background: #ed5642;
    color: #fff;
    border-radius: 10px;
    text-align: center;
    width: 60px;
    font-style: italic;
}
.u_menu{
    float: right;
    width: 800px;
}
.u_menu .m_link{
    float: left;
    width: 33.33%;
    padding-top: 30px;
    text-align: center;
}
.u_menu .m_link a{
    display: inline-block;
    line-height: 30px;
    font-size: 16px;
    padding-left: 30px;
}
.u_menu .m_link a.b1{
    background: url("../img/center_2.png") 0 2px no-repeat;
}
.u_menu .m_link a.b2{
    background: url("../img/center_1.png") 0 5px no-repeat;
}
.u_menu .m_link a.b3{
    background: url("../img/center_3.png") 0 4px no-repeat;
}


.center_list{
    float: left;
    width: 100%;
    background: #fff;
    padding: 20px 40px;
    margin-top: 40px;
    border: 1px #eee solid;
    box-shadow: 0 0 3px #ddd;
}
.book_item{
    float: left;
    width: 279px;
    padding: 10px;
    border: 1px #fff solid;
    position: relative;
    margin-right: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.book_item:hover{
    box-shadow: 0 0 5px #ccc;
    border: 1px #ddd solid;
}
.book_item .cover{
    float: left;
    width: 100px;
    height: 130px;
}
.book_item .cover img{
    float: left;
    width: 100%;
    height: 100%;
}
.book_item .detail{
    float: right;
    width: 145px;
}
.book_item .detail h1{
    float: left;
    width: 100%;
    overflow: hidden;
    font-size: 14px;
    margin-bottom: 10px;
    line-height: 20px;
    height: 40px;
}
.book_item .detail h2,.book_item .detail h3{
    float: left;
    width: 100%;
    color: #949494;
    font-size: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.book_item .detail a{
    float: left;
    line-height: 24px;
    background: #639e2a;
    color: #fff;
    margin-top: 16px;
    padding: 0 10px;
    border-radius: 3px;
}
.book_item .detail a:hover{
    background: #79b63e;
}
.book_item .detail .m_close_x{
    position: absolute;
    right: 0;
    bottom: 5px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    display: none;
    background: url("../img/m_close.png") center center no-repeat;
}
.book_item:hover .m_close_x{
    display: block;
}
.book_page{
    float: left;
    width: 100%;
    margin-top: 40px;
}
.cmm{
    min-height: 100px;
    text-align: center;
    line-height: 100px;
    color: #949494;
}