html, body{
    background: #fff;
}
.newsPaperContent{
    display: block;
    width: 100%;
    overflow: hidden;
    margin-top: 20px;
}

.M-box{
    float: left;
    width: 100%;
}
.nav_bar{
    float: left;
    width: 100%;
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 20px;
}
.nav_bar a:hover{
    color: #f90;
    text-decoration: underline;
}
.news_list{
    float: left;
    width: 100%;
}
.paper_item{
    float: left;
    width: 138px;
    margin-right: 20px;
    margin-bottom: 20px;
    position: relative;
    border-radius: 3px;
}
.paper_item .cover{
    float: left;
    width: 100%;
    border: 1px #aaa solid;
    border-radius: 3px;
    overflow: hidden;
}
.paper_item .cover:hover{
    box-shadow: 0 0 6px #ccc;
}
.paper_item .cover img{
    float: left;
    width: 100%;
    height: 175px;
}
.paper_item p{
    float: left;
    width: 100%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
    margin: 10px 0;
}
.paper_item .detail{
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    background: rgba(0,0,0,0.75);
    text-align: center;
    padding-top: 80px;
    background: rgb(100,100,100)\9;
    display: none;
}
.paper_item .detail h1{
    color: #fff;
    font-size: 14px;
}
.paper_item .detail a{
    display: inline-block;
    margin-top: 20px;
    background: #fff;
    line-height: 20px;
    padding: 0 10px;
    border-radius: 3px;
}
.paper_item:hover .detail{
    /*display: block;*/
}


.content_left{
    float: left;
    width: 190px;
}
.content_right{
    float: right;
    width: 770px;
}
.content_left h1{
    float: left;
    width: 100%;
    background: #639e2a;
    height: 42px;
    line-height: 42px;
    text-align: center;
    font-size: 16px;
    color: #fff;
}
.content_left ul{
    float: left;
    width: 100%;
    border: 1px #ddd solid;
    background: #fff;
}
.content_left ul li{
    float: left;
    height: auto;
    line-height: 42px;
    text-align: center;
    width: 100%;
    border-bottom: 1px #eee solid;
    /*transition: all 0.5s;*/
}
.content_left ul li:hover, .content_left ul li.active{
    background: #f8f8f8;
}
.content_left ul li a{
    display: block;
    line-height: 42px;
    font-size: 14px;
}
.left_links{
    float: left;
    width: 100%;
    margin-top: 20px;
}
.left_links a{
    float: left;
    width: 100%;
    margin-bottom: 10px;
    border: 1px #eee solid;
}
.left_links a img{
    float: left;
    width: 188px;
    height: 80px;
}