/*404*/
#errorPage {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    background-size: 100% auto
}

#errorPage .inner {
    width: 278px;
    height: 358px;
    position: relative;
    margin: 100px auto;
}

#errorPage .back_img{
    width:100%;
    height: 100%;
    background: url('404.png') no-repeat
}
#errorPage .button{
    width: 94px;
    position: absolute;
    bottom: 110px;
    left: 93px;
    height: 35px;
    line-height: 35px;
    text-align: center;
}
