<div id="iosVersionController">
    <div class="content_main">
        <div class="list_bar_row">
            <div class="bars">
                <button class="layui-btn" ng-click="addRow()" ng-show="getBtnToken('ios_version_add')">新增</button>
                <button class="layui-btn layui-btn-link" ng-click="row_update()" ng-show="getBtnToken('ios_version_update')">修改</button>
                <button class="layui-btn layui-btn-link" ng-click="delRow()" ng-show="getBtnToken('ios_version_del')">删除</button>
            </div>
        </div>
        <!-- 列表 -->
        <grid-table data-control="tableControl"></grid-table>
    </div>
    <div class="form_content animated none form_sm">
        <div class="form_title">
            <!--<a href="javascript:void(0)" ng-click="formClose()" class="back_link"><i class="iconfont icon-return"></i> 返回</a>-->
            <a href="javascript:void(0)" ng-click="formClose()" class="back_link">关闭</a>

            <div class="form_btns">
                <button class="layui-btn" ng-click="_form_submit(true)">保存</button>
                <button class="layui-btn" ng-show="status" ng-click="_form_submit(false)">保存&新增</button>
            </div>
        </div>
        <div class="form_content_Y">
            <form class="form_html">
            <div class="layui-form-item">
                <label class="layui-form-label"><em>*</em>包名:</label>

                <div class="layui-input-block">
                    <input type="text" class="layui-input" maxlength="255" ng-model="selRow.package_name"/>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label"><em>*</em>版本号:</label>

                <div class="layui-input-block">
                    <input type="text" class="layui-input" maxlength="50" ng-model="selRow.version_code"/>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label"><em>*</em>版本名称:</label>

                <div class="layui-input-block">
                    <input type="text" class="layui-input" maxlength="50" ng-model="selRow.version_name"/>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label"><em>*</em>app类型:</label>
                <div class="layui-input-block">
                    <div class="layui-unselect layui-form-select">
                        <div class="layui-select-title">
                            <input type="text" class="layui-input layui-unselect" readonly="readonly" value="" placeholder="请选择" ng-model="selRow.app_type_name"/>
                            <i class="layui-edge"></i>
                        </div>
                        <dl class="layui-anim layui-anim-upbit">
                            <dd ng-repeat="item in appTypeList" ng-click="selRow.app_type_id=item.app_type_id;selRow.app_type_name=item.app_type_name" ng-class="{'layui-this':selRow.app_type_name == item.app_type_name}">{{item.app_type_name}}</dd>
                        </dl>
                    </div>
                </div>
            </div>
                <div class="layui-form-item">
                    <label class="layui-form-label"><em>*</em>URL:</label>

                    <div class="layui-input-block">
                        <input type="text" class="layui-input"  ng-model="selRow.package_url"/>
                    </div>
                </div>
            <div class="layui-form-item">
                <label class="layui-form-label"><em>*</em>描述:</label>

                <div class="layui-input-block">
                <textarea class="layui-textarea" style="height: 100px;"
                          ng-model="selRow.remark"></textarea>
                </div>
            </div>
        </form>
        </div>
    </div>
    <!--设备列表-->
    <!--<sel-device check="false"></sel-device>-->
</div>