#iosVersionController #table_file .file-action input{
    display: block !important;
    border-right: none;
}
#iosVersionController #table_file .file-action .file-btn-ku{
    display: none !important;
}
#iosVersionController .table_control td{
    white-space: normal !important;
}
#iosVersionController .table_control td > span{
    max-width: 100% !important;
    overflow: auto;
}