html, body {
    height: 100% !important;
    overflow: hidden !important;
    padding: 0 !important;
    margin: 0 !important;
}

* {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
}

body {
    margin: 0 auto !important;
    display: block;
    position: relative;
    font-family: "Microsoft YaHei", "ZY-ZW-HEITI", "方正兰亭黑", "华文细黑", "兰亭黑-简", "Verdana";
    font-size: 18px;
}

#loaders {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999999999;
    width: 100%;
    height: 100%;
}

#loaders .ms {
    position: fixed;
    height: 30px;
    width: 100px;
    text-align: center;
    line-height: 30px;
    top: 50%;
    left: 50%;
    z-index: 999999999;
    font-size: 14px;
    margin-left: -50px;
    margin-top: -30px;
}

.swiper-container {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

#readBook .book_html {
    float: left;
    width: 100%;
    box-sizing: border-box;
}

#doc {
    width: 100%;
    position: relative;
    margin: 0 auto;
    height: 100%;
    background: url("logo.png") no-repeat center center / 80px auto;
}

#factory {
    float: left;
    width: 100%;
    height: 100%;
}

#market {
    position: absolute;
    z-index: 9;
    width: 100%;
    height: 100%;
    overflow: hidden;
    top: 0;
    left: 0;
}

.slide-next {
    top: 0;
    height: 100%;
    background: transparent;
    right: 0;
    width: 30%;
    margin: 0;
    position: absolute;
    z-index: 10;
    /*background: rgba(100,200,50,0.5);*/
}

.slide-prev {
    top: 0;
    height: 100%;
    background: transparent;
    width: 30%;
    left: 0;
    margin: 0;
    position: absolute;
    z-index: 10;
    /*background: rgba(100,200,50,0.5);*/
}

.slide-center {
    top: 0;
    height: 100%;
    background: transparent;
    left: 30%;
    width: 40%;
    margin: 0;
    position: absolute;
    z-index: 10;
    /*background: rgba(10,100,150,0.5);*/
}

#factory .content {
    float: left;
    width: 100%;
    height: 100%;
    padding: 45px 1.5rem 0 1.5rem;
    position: relative;
    /*filter:alpha(opacity=0); !* IE *!*/
    /*-moz-opacity:0; !* 老版Mozilla *!*/
    /*-khtml-opacity:0; !* 老版Safari *!*/
    /*opacity: 0; !* 支持opacity的浏览器*!*/
}

#market .content {
    float: left;
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

#doc .content img {
    max-width: 100%;
    max-height: 80%;
}

#market .content .slide {
    float: left;
    width: 100%;
    height: 100%;
    padding: 0 1.5rem;
}

#market .content .readed {
    left: -105%;
}

#factory .book_factory, #factory .book_html {
    float: left;
    width: 100%;
}

#doc .content h1, #doc .content h2 {
    display: none;
}

#doc .content * {
    box-sizing: border-box;
    line-height: 1.5;
}

#doc .content p {
    margin: 0 0 10px 0 !important;
    text-align: justify;
    float: left;
    width: 100%;
}

#doc .content p.left {
    text-align: left;
}

#doc .content p.right {
    text-align: right;
}

#doc .content p.center {
    text-align: center;
}

#doc .content p.un_index {
    text-indent: 0 !important;
}
#doc .content span.split_span_first {
    text-indent: 2em!important;
}
#doc .content p span.split_span_text{
    /*float: left;*/
    text-indent: 0;
}
#doc .content p span.split_span_img{
    display: block;
    width: 100%;
    text-indent: 0;
}
#doc .page_step_title {
    height: 45px;
    line-height: 45px;
    font-size: 10px;
}

#doc .page_step_title .step_name {
    float: right;
    line-height: 35px;
}

#book_info_parent {
    position: absolute;
    z-index: 999;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: none;
    background: rgba(0, 0, 0, 0.2);
}

.unshow {
    display: block !important;
}

.book_title {
    position: absolute;
    width: 100%;
    line-height: 60px;
    font-size: 16px;
    height: 60px;
    text-align: center;
    background: #2d2d2d;
    color: #fff;
    top: -60px;
}

.book_title label {
    max-width: 60%;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.book_title i {
    width: 60px;
    height: 60px;
    position: absolute;
    top: 0;
    right: 0;
    background: url("mulu_sink_1.png") no-repeat center center / 20px auto;
}

.book_title span {
    width: 60px;
    height: 60px;
    position: absolute;
    top: 0;
    left: 0;
    background: url("epub_return.png") no-repeat center center / 20px auto;
}

.book_title:before {
    content: " ";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    color: #979797;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scaleY(.5);
    transform: scaleY(.5);
}

#book_action {
    position: absolute;
    width: 100%;
    bottom: -200px;
    text-align: center;
    background: #2d2d2d;
    color: #fff;
}

#book_action .action_1 {
    position: relative;
    height: 50px;
    border-bottom: 1px #4d4d4d dashed;
}

.action_1 .action_last {
    font-size: 12px;
    position: absolute;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    top: 0;
    left: 0;
    z-index: 9;
}

.action_1 .action_step {
    float: left;
    width: 100%;
    box-sizing: border-box;
    padding: 0 70px;
    position: absolute;
    z-index: 2;
}

.action_1 input {
    position: absolute;
    width: calc(100% - 130px);
    top: 15px;
    left: 60px;
    right: 60px;
    z-index: 99;
    filter: alpha(opacity=0); /* IE */
    -moz-opacity: 0; /* 老版Mozilla */
    -khtml-opacity: 0; /* 老版Safari */
    opacity: 0; /* 支持opacity的浏览器*/
}

.action_step .step_bg {
    float: left;
    width: 100%;
    background: #484848;
    height: 3px;
    margin-top: 25px;
    border-radius: 3px;
}

.action_step .step_line {
    float: left;
    height: 3px;
    background: #e8554d;
    width: 0;
    border-radius: 3px;
    position: relative;
}

.action_step .step_line span {
    width: 50px;
    height: 50px;
    position: absolute;
    /*background: rgba(200,200,200,0.3);*/
    top: -22px;
    right: -25px;
}

.action_step .step_line span i {
    width: 8px;
    height: 8px;
    background: #2b2b2b;
    border: 2px #e8554d solid;
    border-radius: 10px;
    float: left;
    margin: 19px;
}

.action_1 .action_next {
    font-size: 12px;
    position: absolute;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    top: 0;
    right: 0;
    z-index: 9;
}

#book_action .action_color {
    height: 60px;
}

.action_color > span {
    float: left;
    width: 20%;
    height: 60px;
    text-align: center;
    box-sizing: border-box;
}

.action_color label {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: 10px auto;
}

.col_1 label {
    background: #dddddd;
}

.col_2 label {
    background: #d5bc83;
}

.col_3 label {
    background: #9acfa1;
}

.col_4 label {
    background: #2e5073;
}

.col_5 label {
    background: #644f47;
}

#book_info {
    position: absolute;
    z-index: 999;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: none;
}

#book_info .info_content {
    float: left;
    width: 100%;
    box-sizing: border-box;
    height: 100%;
    position: relative;
    overflow: hidden;
}

#book_info .info_content .ml {
    position: absolute;
    width: 75%;
    height: 100%;
    overflow: hidden;
    background: #fbfcfa;
    color: #565656;
}

#book_info .info_content .ml .ml_title {
    float: left;
    width: 100%;
    text-align: center;
    font-size: 20px;
    line-height: 60px;
    height: 60px;
    background: #2d2d2d;
    color: #fff;
}

#book_info .ml_content {
    float: left;
    width: 100%;
    height: calc(100% - 50px);
    height: -moz-calc(100% - 50px);
    height: -webkit-calc(100% - 50px);
    overflow-x: hidden;
    overflow-y: hidden;
    background: #3d3d3d;
    font-size: 14px;
    color: #AAA;
}
#scroller {
    position: absolute;
    z-index: 1;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    width: 100%;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    -o-text-size-adjust: none;
    text-size-adjust: none;
    background: #fff;
}

#book_info .ml_content ul {
    float: left;
    width: 100%;
    margin: 0;
    padding: 0;
}

#book_info .ml_content ul li {
    float: left;
    width: 100%;
    padding: 10px 15px;
    box-sizing: border-box;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    border-bottom: 1px #565656 solid;
}

#book_info .ml_content ul li.active {
    color: #df6868;
}

.skin_1 {
    background: url("logo.png") no-repeat center center / 100px auto #ddd;
    color: #494949;
}
.skin_1 #loaders{
    background: #ddd;
}
.skin_1 .content {
    background: #ddd;
}

.skin_1 .slide {
    background: #ddd;
    box-shadow: 0 0 1px #7f7f7f;
}

.skin_1 .page_step_title {
    color: #878787;
}

.skin_2 {
    background: url("logo.png") no-repeat center center / 100px auto #d8c4a0;
    color: #3a3342;
}
.skin_2 #loaders{
    background: #d8c4a0;
}
.skin_2 .content {
    background: #d8c4a0;
}

.skin_2 .slide {
    background: #d8c4a0;
    box-shadow: 0 0 1px #6c685e;
}

.skin_2 .page_step_title {
    color: #646058;
}

.skin_3 {
    background: url("logo.png") no-repeat center center / 100px auto #cce9ce;
    color: #323232;
}
.skin_3 #loaders{
    background: #cce9ce;
}
.skin_3 .content {
    background: #cce9ce;
}

.skin_3 .slide {
    background: #cce9ce;
    box-shadow: 0 0 1px #627062;
}

.skin_3 .page_step_title {
    color: #454d46;
}

.skin_4 {
    background: url("logo.png") no-repeat center center / 100px auto #061d2d;
    color: #637079;
}
.skin_4 #loaders{
    background: #061d2d;
}
.skin_4 .content {
    background: #061d2d;
}

.skin_4 .slide {
    background: #061d2d;
    box-shadow: 0 0 1px #020d14;
}

.skin_4 .page_step_title {
    color: #6d7982;
}

.skin_5 {
    background: url("logo.png") no-repeat center center / 100px auto #3b3537;
    color: #637079;
}
.skin_5 #loaders{
    background: #3b3537;
}
.skin_5 .content {
    background: #3b3537;
}

.skin_5 .slide {
    background: #3b3537;
    box-shadow: 0 0 1px #1c1919;
}

.skin_5 .page_step_title {
    color: #575653;
}

.book_cover{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 9999999991;
    padding: 15px;
    height: calc(100% - 70px);
    height: -moz-calc(100% - 70px);
    height: -webkit-calc(100% - 70px);
}
.book_cover .img{
    float: left;
    width: 100%;
    height: 100%;
    background-image: url("loading.gif");
    background-repeat: no-repeat;
    background-position: center 40%;
    background-size: auto auto;
}
.skin_1 .book_cover{
    background: #ddd;
}
.skin_2 .book_cover{
    background: #d8c4a0;
}
.skin_3 .book_cover{
    background: #cce9ce;
}
.skin_4 .book_cover{
    background: #061d2d;
}
.skin_5 .book_cover{
    background: #3b3537;
}




.app_down{
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: 9999999999;
    background: #383636;
    padding: 10px;
}
.app_down .sp1{
    background: url("m_ico_logo.png") no-repeat center center / 40px auto;
    float: left;
    width: 50px;
    height: 50px;
}
.app_down .sp2{
    float: left;
    padding-left: 10px;
    color: #fff;
    font-size: 13px;
    line-height: 50px;
}
.app_down .sp2 em{
    font-style: normal;
    color: #009bfa;
}
.app_down .sp3{
    float: right;
    height: 50px;
    width: 95px;
    background: url("m_down.png") no-repeat right center / auto 35px;
}