<div id="cmsManage">
    <div class="content_main">
        <div class="content_page_left">

            <div id="col_comTree">
                <ul id="comTree"></ul>
            </div>
        </div>
        <div class="content_page_right">
            <div class="list_bar_row">
                <div class="bars">
                    <button class="layui-btn" ng-click="addRow()" ng-show="getBtnToken('cms_manage_add')">新增</button>
                    <button class="layui-btn layui-btn-link" ng-click="row_update()" ng-show="getBtnToken('cms_manage_update')">修改
                    </button>
                    <!--<button class="layui-btn layui-btn-link" ng-click="delRow()" ng-show="getBtnToken('cms_manage_del')">删除</button>-->
                </div>
                <div class="search_plan">
                    <div class="input_group">
                        <input class="layui-input" type="text" placeholder="模糊搜索" ng-model="param.searchText">
                        <span class="group_addon layui-btn" ng-click="reload()">搜索</span>
                        <!--<button class="group_ex btn">筛选<i class="iconfont icon-jiantou3xia"></i></button>-->
                    </div>
                </div>
            </div>
            <!-- 列表 -->
            <grid-table data-control="tableControl"></grid-table>
        </div>
    </div>
    <div class="form_content animated none ">
        <div class="form_title">
            <!--<a href="javascript:void(0)" ng-click="formClose()" class="back_link"><i class="iconfont icon-return"></i> 返回</a>-->
            <a href="javascript:void(0)" ng-click="formClose()" class="back_link">关闭</a>

            <div class="form_btns">
                <button class="layui-btn" ng-click="_form_submit(true)">保存</button>
                <button class="layui-btn" ng-show="status" ng-click="_form_submit(false)">保存&新增</button>
            </div>
        </div>
        <div class="form_content_Y">
            <form class="form_html">
            <div class="form-left">
                <div class="layui-form-item" id="img_cc">
                    <div class="image_text">
                        <div class="leftImg" style="height: 200px; width: 100%;">
                            <div class="center" ng-show="!selRow.cover_url" style="padding: 72px 150px;">
                                <i class="iconfont icon-tianjiatupian"></i>
                            </div>
                            <img ng-src="{{ctxPath+selRow.cover_url}}" ng-if="selRow.cover_url">
                        </div>
                    </div>
                </div>
                <div class="form-left-bottom">
                    <div class="form-inline img-file" id="header">
                        <div class="input-file hide-input" style="padding: 0;margin: 0;width: 100%;">
                            <input type="file" multiple="multiple" accept="image/gif,image/jpeg,image/png,image/jpg,image/bmp" autocomplete="off" id="prj-log"
                                   class="form-control file-pretty" name="file" data-id="file" data-ajax="true"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-right">
                <div class="layui-form-item">
                    <label class="layui-form-label"><em>*</em>标题:</label>

                    <div class="layui-input-block">
                        <input type="text" class="layui-input" ng-model="selRow.article_title"/>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label"><em>*</em>分类:</label>

                    <div class="layui-input-block">
                        <div class="layui-unselect layui-form-select">
                            <div class="layui-select-title">
                                <input type="text" class="layui-input layui-unselect" readonly="readonly" value="" placeholder="请选择" ng-model="selRow.parent_name"/>
                                <i class="layui-edge"></i>
                            </div>
                            <dl class="layui-anim layui-anim-upbit">
                                <ul  id="resTree"></ul>
                            </dl>
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">来源:</label>

                    <div class="layui-input-block">
                        <input type="text" class="layui-input" ng-model="selRow.article_source"/>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">排序:</label>
                    <div class="layui-input-block">
                        <div class="input_group sort-control">
                            <input class="layui-input" type="text" readonly  ng-model="selRow.order_weight" maxlength="15" onkeyup="this.value=this.value.replace(/\D/g,'')" onafterpaste="this.value=this.value.replace(/\D/g,'')">
                            <span class="group_addon layui-btn layui-btn-warm">自动生成</span>
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label"><em>*</em>概要:</label>

                    <div class="layui-input-block">
                        <textarea class="layui-textarea" ng-model="selRow.article_remark"></textarea>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">类型:</label>

                    <div class="layui-input-block">
                        <div class="box">
                            <label class="check" ng-click="selRow.article_type=0"><i
                                    ng-class="{'active':selRow.article_type==0}"></i>普通</label>
                            <label class="check" ng-click="selRow.article_type=2"><i
                                    ng-class="{'active':selRow.article_type==2}"></i>外链</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-bottom">
                <div class="layui-form-item" ng-show="selRow.article_type==0">
                    <div class="col-xs-12">
                        <iframe id="myIframe"
                                ng-src="{{ctxPath+'/static/admin/plugin/ueditor/edit.html'}}"
                                scrolling="no" style="border: 1px #ddd solid" width="100%" height="800"
                                frameborder="0"></iframe>
                    </div>
                </div>
                <div class="layui-form-item" ng-show="selRow.article_type==1">
                    <div class="col-xs-12">
                        <div class="image_text">
                            <div class="image_text_row" ng-repeat="item in imageTextData">
                                <div class="col-xs-11 hih">
                                    <div class="leftImg">
                                        <div class="center" ng-show="!item.url">
                                            <i class="iconfont icon-tianjiatupian"></i>
                                        </div>
                                        <img ng-src="{{ctxPath+item.url}}" ng-if="item.url">
                                    </div>
                                    <textarea class="layui-textarea" ng-model="item.text">{{item.text}}</textarea></div>
                                <div class="col-xs-1 hih">
                                    <div class="right hih">
                                        <div style="height: 100%;padding: 0 17px;">
                                            <label class="iconfont icon-x" ng-click="imageTextIndex($index,0)"></label>
                                            <label class="iconfont icon-shangjiantou"
                                                   ng-click="imageTextIndex($index,1)" ng-show="$index>0"></label>
                                            <label class="iconfont icon-shangjiantou-copy"
                                                   ng-click="imageTextIndex($index,2)"
                                                   ng-show="$index<imageTextData.length-1"></label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="image_text_row">
                                <div class="col-xs-11 hih">
                                    <div class="leftImg last">
                                        <div class="input-file hide-input" style="padding: 0;margin: 0;width: 100%;">
                                            <input type="file" multiple="multiple" autocomplete="off" id="prj-log2"
                                                   style="z-index: 10000"
                                                   class="form-control file-pretty" name="file" data-id="file"
                                                   data-ajax="true"/>
                                        </div>
                                    </div>
                                    <textarea class="layui-textarea" ng-model="textarea_inner"></textarea></div>
                                <div class="col-xs-2"></div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="layui-form-item" ng-show="selRow.article_type==2">
                    <div class="col-xs-12">
                        <input type="text" class="layui-input" ng-model="outer_link" placeholder="外链地址"/>
                    </div>
                </div>
            </div>

        </form>
        </div>
    </div>
    <!--机构选择-->
    <sel-org check="true"></sel-org>
</div>