<div id="dataPackageInfo">
    <div class="form_content" style="height: 55px;overflow: hidden">
        <div class="form_title">
            <a href="javascript:void(0)" ng-click="backPage()" class="back_link">&lt;&lt; 返回数据包列表</a>
            <label style="display: block;margin: 0 auto;line-height: 34px;text-align: center;font-size: 22px;">{{param.pkg_name}}</label>
        </div>
    </div>
    <div class="content_main">
        <div class="content_page_left">
            <div class="cat-tree-action">
                <button class="layui-btn btn-sm " title="新增分类"  ng-show="getBtnToken('dataPackageInfo_add')" ng-click="addRow()"><i class="iconfont  icon-jia"></i></button>
                <button class="layui-btn btn-sm layui-btn-warm" title="修改分类"  ng-click="row_update()" ng-show="getBtnToken('dataPackageInfo_update')"><i class="iconfont  icon-xiugai"></i></button>
                <button class="layui-btn btn-sm layui-btn-danger" title="删除分类"  ng-click="delRow()" ng-show="getBtnToken('dataPackageInfo_del')"><i class="iconfont  icon-jian"></i></button>
            </div>
            <div id="col_comTree">
                <ul id="comTree" style="margin-bottom: 30px"></ul>
            </div>
        </div>
        <div class="content_page_right">
            <div class="list_bar_row">
                <div class="bars">
                    <button class="layui-btn layui-btn-link" ng-click="addBook()" ng-show="getBtnToken('dataPackageInfo_addBook')">标签加书</button>
                    <button class="layui-btn layui-btn-link" ng-click="searchBook_add()" >单本加书</button>
                    <button class="layui-btn layui-btn-link" ng-click="delBook()" ng-show="getBtnToken('dataPackageInfo_delBook')">批量移除</button>
                    <button class="layui-btn layui-btn-link" ng-click="topBook()" >批量置顶</button>
                </div>

                <div style="float: right;min-width: 900px;">
                    <div class="search_plan">
                        <div class="input_group">
                            <input class="layui-input" type="text" placeholder="模糊搜索" ng-model="param.searchText">
                            <span class="group_addon layui-btn" ng-click="reload()">搜索</span>
                        </div>
                    </div>
                    <div class="search_plan" style="width: 650px;">
                        <div style="float: left;width: 200px;margin-right: 15px">
                            <label class="layui-form-label">离线:</label>
                            <div class="layui-input-block">
                                <div class="layui-unselect layui-form-select">
                                    <div class="layui-select-title">
                                        <input type="text" class="layui-input layui-unselect" readonly="readonly" value="" placeholder="请选择" ng-model="param.offline_status_text"/>
                                        <i class="layui-edge"></i>
                                    </div>
                                    <dl class="layui-anim layui-anim-upbit">
                                        <dd ng-click="reload('offline_status',-1,'全部')">全部</dd>
                                        <dd ng-click="reload('offline_status',1,'是')">是</dd>
                                        <dd ng-click="reload('offline_status',0,'否')">否</dd>
                                    </dl>
                                </div>
                            </div>
                        </div>
                        <div style="float: left;width: 200px;margin-right: 15px">
                            <label class="layui-form-label">热门:</label>
                            <div class="layui-input-block">
                                <div class="layui-unselect layui-form-select">
                                    <div class="layui-select-title">
                                        <input type="text" class="layui-input layui-unselect" readonly="readonly" value="" placeholder="请选择" ng-model="param.is_hot_text"/>
                                        <i class="layui-edge"></i>
                                    </div>
                                    <dl class="layui-anim layui-anim-upbit">
                                        <dd ng-click="reload('is_hot',-1,'全部')">全部</dd>
                                        <dd ng-click="reload('is_hot',1,'是')">是</dd>
                                        <dd ng-click="reload('is_hot',2,'否')">否</dd>
                                    </dl>
                                </div>
                            </div>
                        </div>
                        <div style="float: left;width: 200px;">
                            <label class="layui-form-label">推荐:</label>
                            <div class="layui-input-block">
                                <div class="layui-unselect layui-form-select">
                                    <div class="layui-select-title">
                                        <input type="text" class="layui-input layui-unselect" readonly="readonly" value="" placeholder="请选择" ng-model="param.is_recommend_text"/>
                                        <i class="layui-edge"></i>
                                    </div>
                                    <dl class="layui-anim layui-anim-upbit">
                                        <dd ng-click="reload('is_recommend',-1,'全部')">全部</dd>
                                        <dd ng-click="reload('is_recommend',1,'是')">是</dd>
                                        <dd ng-click="reload('is_recommend',2,'否')">否</dd>
                                    </dl>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <grid-table data-control="tableControl"></grid-table>
        </div>
    </div>

    <!--分类表单-->
    <div id="classForm" style="display: none">
        <div class="layui-form-item">
            <label class="layui-form-label"><em>*</em>名称</label>
            <div class="layui-input-block">
                <input type="text" class="layui-input" ng-model="selRow.book_cat_name"/>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label"><em>*</em>父级</label>
            <div class="layui-input-block">
                <div class="layui-unselect layui-form-select">
                    <div class="layui-select-title">
                        <input type="text" class="layui-input layui-unselect" readonly="readonly" value="" placeholder="请选择" ng-model="selRow.pname"/>
                        <i class="layui-edge"></i>
                    </div>
                    <dl class="layui-anim layui-anim-upbit">
                        <ul  id="resTree"></ul>
                    </dl>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">排序:</label>
            <div class="layui-input-block">
                <div class="input_group sort-control">
                    <input class="layui-input" type="text" readonly  ng-model="selRow.order_weight" maxlength="15" onkeyup="this.value=this.value.replace(/\D/g,'')" onafterpaste="this.value=this.value.replace(/\D/g,'')">
                    <span class="group_addon layui-btn layui-btn-warm">自动生成</span>
                </div>
            </div>
        </div>
        <div class="text-center layui-form-item" style="margin: 10px 0 0 0">
            <button class="layui-btn" ng-click="saveForm()">确定</button>
            <button class="layui-btn layui-btn-primary" ng-click="closeLayer()">取消</button>
        </div>
    </div>

    <!--标签添加图书-->
    <div id="tag_add_book" style="display: none">
        <div class="layui-form-item" style="padding:15px;margin-bottom: 0">
            <div class="input_group">
                <input class="layui-input" type="text" placeholder="模糊搜索" ng-model="searchTags.searchText">
                <span class="group_addon layui-btn" ng-click="reload_tag()"> 搜  索 </span>
            </div>
        </div>
        <div class="box">
            <label class="check" ng-repeat="item in bookTagArray" ng-click="item.select = !item.select"><i ng-class="{'active':item.select}"></i>{{item.tag_name}}<em>({{item.book_count}})本</em></label>
        </div>
        <div class="layui-form-item text-center" style="margin-bottom: 0;margin-top: 10px;">
            <button class="layui-btn" ng-click="checkBook()">确定</button>
            <button class="layui-btn layui-btn-primary" ng-click="closeLayer()">取消</button>
        </div>
    </div>

    <!--批量指定-->
    <div id="top_book" style="display: none">
        <div class="layui-form-item">
              <textarea placeholder="" style="height : 480px;resize: none" class="layui-textarea" ng-model="books.book_ids" ></textarea>
        </div>
        <div class="layui-form-item" style="text-align: center;">
            <button class="layui-btn" ng-click="book_ids()" style="width: 200px">提交</button>
        </div>
    </div>

    <!--单本加书-->
    <div id="searchBook_add" style="display: none;height: 100%;" >
        <div style="float: left;width: 100%;padding: 10px 0">
            <div class="col-xs-10" style="padding-right: 0"><input type="text" class="layui-input" placeholder="作者、书名、isbn、文件名" ng-model="searchBooks.searchText"></div>
            <div class="col-xs-2"><button class="block layui-btn" ng-click="searchData()">搜索</button></div>
        </div>
        <table class="layui-table " style="margin-top:0">
            <thead>
                <tr>
                    <th width="100">封面</th>
                    <th width="150">图书名称</th>
                    <th width="150">图书作者</th>
                    <th width="150">ISBN</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="row in bookRepoArray">
                    <td align="center"  width="100">
                        <img class="df_book" ng-src="{{ctxPath}}{{row.book_cover_small}}" ng-if="row.book_cover_small" style="display: block;margin: 0 auto">
                    </td>
                    <td align="center"  width="150">{{row.book_name}}</td>
                    <td align="center"  width="150">{{row.book_author}}</td>
                    <td align="center"  width="150">{{row.book_isbn}}</td>
                    <td align="center" >
                        <div>
                            <button class="btn btn-primary layui-btn"  ng-click="add_book(row)">添加</button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <!--树形标签加书-->
    <div class="form_content animated none form_sm">
        <div class="form_title">
            <a href="javascript:void(0)" ng-click="formClose()" class="back_link">关闭</a>
            <div class="form_btns">
                <button class="layui-btn" ng-click="checkBook(true)">确定</button>
            </div>
        </div>
        <div class="form_content_Y" style="overflow-x: auto">
            <form class="form_html">
                <ul id="tagTree" class="tagTree"></ul>
            </form>
        </div>
    </div>
</div>